<br><br><br><br><h1>HOW STRONG YOU ARE</h1><br><br>
<div class="cards">
	<div class="card card1">
		<div class="container">
			<app-progbar exercise="bench" [percentage]="51"></app-progbar>
		</div>
		<div class="details">
			<h3>BENCH PRESS</h3>
			<p>GOAL IS TO BENCH 1.35x YOUR BODYWEIGHT.</p>
		</div>
	</div>
	<div class="card card2">
		<div class="container">
			<app-progbar exercise="deadlift" [percentage]="85"></app-progbar>
		</div>
		<div class="details">
			<h3>DEADLIFT</h3>
			<p>GOAL IS TO DEADLIFT 1.65x YOUR BODYWEIGHT.</p>
		</div>
	</div>
	<div class="card card3">
		<div class="container">
			<app-progbar exercise="squat" [percentage]="63"></app-progbar>
		</div>
		<div class="details">
			<h3>SQUAT</h3>
			<p>GOAL IS TO SQUAT 1.5x YOUR BODYWEIGHT.</p>
		</div>
	</div>
</div>