@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Righteous', cursive;
    font-size: 25px;
}

body {
	background-color: #232324;
}